.header {
  background-color: #fff;
  display: flex;
  z-index: 3;
  height: auto;
  overflow: hidden;
  justify-content: space-between;
  padding: 16px;
}

.hamburger {
  margin-top: 1.1em;
  float: left;
}

i {
  color: rgb(116, 116, 116);
}

i:hover {
  color: rgb(185, 185, 185);
  transition: all 0.1s linear;
  cursor: pointer;
}

.kila {
  width: 145px;
  height: 60px;
  margin-left: 1.1em;
}

.sapal {
  width: 145px;
  height: 70px;
  margin-right: 2em;
}

// Sticky header styling
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .header {
  padding: 60px;
}
