.card-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5em;
}

.card {
  width: 270px;
  height: 180px;
}

.card-content {
  background-color: #fff;
  -webkit-box-shadow: 6px 9px 41px -6px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 6px 9px 41px -6px rgba(3, 1, 1, 0.35);
  box-shadow: 6px 9px 41px -6px rgba(0, 0, 0, 0.35);
}
