.items-container {
  margin-top: 1em;

  @media (min-width: 300px) and (max-width: 768px) {
    margin-top: 1em;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @media (min-width: 300px) and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

.card {
  width: 300px;
  height: 350px;
  margin: 1em;
  margin-top: 5em;
  z-index: 0;

  @media (min-width: 300px) and (max-width: 768px) {
    width: 285px;
    height: 350px;
    margin-top: 3em;
  }
}

.card-content {
  background-color: #fff;
}

.link {
  font-size: 1.45em;
}

.notfound {
  margin-top: 10em;
  color: rgb(190, 190, 190);
}
