@import "../abstracts/variables";

.buttons {
  margin-top: 1em;
  transform: translateX(5em);

  & > span > p {
    color: #000;
    font-size: 0.85em;
    position: absolute;
    margin-top: 3em;
  }

  & > a > img {
    width: 9em;
    height: 5.25em;
    margin: 1em;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
}

.chart-title {
  display: flex;
  justify-content: center;
  margin-top: 3.5em;
  font-size: 1.35em;
  color: $titles-gray;
}

.chart-container {
  display: flex;
  justify-content: center;
  transform: translateX(7em);
  height: 30vh;
  width: 65vw;
  margin-top: 1em;

  @media (min-width: 300px) and (max-width: 719px) {
    flex-direction: column;
    margin-top: 4rem;
    transform: translateX(0em);
  }
}

.sapal-opacity {
  width: 200px;
  height: 90px;
  transform: translateX(35rem) translateY(10rem);
  z-index: 1;
  filter: opacity(0.3);
}
