.container {
  width: 70%;
  height: 3em;
  margin-top: 2.5em;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  border: solid 1px rgb(223, 225, 229);
}

.container:hover {
  border: none;
  transition: all 0.2s linear;
  -webkit-box-shadow: 16px 14px 48px -12px rgba(0, 0, 0, 0.475);
  -moz-box-shadow: 16px 14px 48px -12px rgba(0, 0, 0, 0.475);
  box-shadow: 16px 14px 48px -12px rgba(0, 0, 0, 0.475);
}

textarea {
  border: none;
  align-items: center;
  margin-top: 0.7em;
  margin-left: 1em;
  resize: none;
}

textarea:focus {
  outline: none;
  border-bottom: none !important;
  box-shadow: none !important;
}

::placeholder {
  font-size: 1.1em;
  font-weight: 400;
  color: rgb(188, 188, 188);
}

.search {
  margin-right: 1.15em;
  transform: translateY(0.35em) rotateY(-180deg);
  color: rgb(188, 188, 188);
}

.search:hover {
  color: rgb(101, 158, 53);
  transition: all 0.1s linear;
}
