.note-compliance > h1 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-top: 7.5rem;
}

.note-container {
  width: 80%;
  height: 30vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: solid 1px rbg(195, 195, 195);
  border-radius: 7px;
  // Box Shadow
  -webkit-box-shadow: 10px 13px 36px -11px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 13px 36px -11px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 13px 36px -11px rgba(0, 0, 0, 0.35);

  & > ul {
    list-style: none;
    color: rgb(148, 148, 148);
    margin: 2em;
    padding: 0;

    & > li {
      margin: 0;
      margin-bottom: 1em;
      padding-left: 1.5em;
      position: relative;

      &:after {
        content: "";
        height: 0.65em;
        width: 0.65em;
        background: rgb(148, 148, 148);
        display: block;
        position: absolute;
        transform: rotate(45deg);
        top: 0.25em;
        left: 0;
      }
    }
  }
}

.evidences {
  margin-top: 4rem;

  & > .evidence {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    // Media Queries
    @media (min-width: 300px) and (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.evidence-img {
  width: 245px;
  height: 165px;
  margin: 1em;
}
