@import "../abstracts/variables";

h1 {
  display: flex;
  justify-content: center;
  font-size: 1.65em;
  color: rgb(80, 80, 80);
  margin-top: 5em;

  //Media Query
  @media (min-width: 300px) and (max-width: 768px) {
    font-size: 1.4em;
    margin-top: 6em;
  }
}

.profile-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 7.5rem; //120px
  height: 7.5rem; //120px
  border-radius: 50%;
  margin-top: 0.75em;

  -webkit-box-shadow: 13px 15px 31px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 13px 15px 31px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 13px 15px 31px -16px rgba(0, 0, 0, 0.75);
}

.box {
  display: block;
  margin: 0 auto;
  margin-top: 6em;
  width: 80%;
  height: auto;
  background-color: #fff;
  color: $text-gray;
  border-radius: 12px;

  -webkit-box-shadow: 8px 13px 37px -13px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 8px 13px 37px -13px rgba(0, 0, 0, 0.35);
  box-shadow: 8px 13px 37px -13px rgba(0, 0, 0, 0.35);
}

.category-1 {
  display: flex;
  justify-content: space-around;

  & > p {
    font-weight: 700;
    // Solo esta tiene un margen superior
    margin-top: 5em;
    & > span {
      font-weight: 400;
    }
  }

  // Media Queries
  @media (min-width: 300px) and (max-width: 768px) {
    flex-direction: column;
    text-align: center;

    .category-mobile {
      margin-top: 6rem;
    }

    & > p {
      margin-top: 1em;
    }
  }
}

.category-2 {
  display: flex;
  justify-content: space-around;

  & > p {
    font-weight: 700;
    & > span {
      font-weight: 400;
    }
  }

  // Media Queries
  @media (min-width: 300px) and (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
}

.category-3 {
  display: flex;
  justify-content: space-around;

  & > p {
    font-weight: 700;
    & > span {
      font-weight: 400;
    }
  }

  // Media Queries
  @media (min-width: 300px) and (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
}

.category-4 {
  display: flex;
  justify-content: space-around;

  & > p {
    font-weight: 700;
    // Solo esta tiene un margen inferior
    margin-bottom: 4em;
    & > span {
      font-weight: 400;
    }
  }

  // Media Queries
  @media (min-width: 300px) and (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
}
