// Pages (Profile, Form, About, etc.)
@import "./pages/profilebox";
@import "./pages/compliance";
// Layout (Navbar, Sidebar, Header, etc.)
@import "./layout/header";
@import "./layout/footer";
// Components (Button, Cars, Textarea, etc.)
@import "./components/search";
@import "./components/card";
@import "./components/chartone";
@import "./components/charttwo";
@import "./components/sidenav";
@import "./components/homesidenav";

body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
}
